#quote-box {
    margin-top: 15%;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    color:darkslategrey;
    width:600px;
}

#saadiq {
    font-size: smaller;
    font-weight:normal;
}




#quote-text {
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#author {
    padding-top: 25px;
    padding-left: 30px;
}

#b {
    padding-right: 10px;
}